.full-width {
	left: 12.5%;
    margin-top: 20%;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	width: 50vw;
}

.para{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 14%;
    margin-top: 3%;
}

.cake{
    margin-left: 15%;  
    margin-top: 17%;
    width: 70%;
    border-radius: 20px;
}

.menu{
    margin-left:14%;
}

.other {
    height: 6%;
    margin-top: 3%;
}

.contains{
    margin: 5%;
    /* padding: 5%;
    background-image: url("../back.jpeg"); */
}